{% extends "layout.html" %}
{% block content %}
<!-- home -->
<div>
    <div class="ml-10">
        <div class="search">
            <input type="text" placeholder="Search...">
        </div>
        <div class="content-section mr-5">
            <div>
                <p>
                    <h3 onclick="getMenu()">Available Food</h3>
                </p>
            </div>
            <p id="orderStatusF" class="orderStatus"></p>
            <p id="orderStatusP" class="orderStatus"></p>

            <div id="food_items" class="content-sction">

            </div>
        </div>

        <!-- right side bar -->
        <div class="content-section fr-w-25 mr-10">
            <h3 onclick="orderHistory()">History</h3>
            <div id="order_history" class="">

            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block script %}
<script>
    getMenu();
    orderHistory();
</script>
{% endblock script %}
